@charset "UTF-8";

@font-face {
    font-family: 'buttonHighlight';
    src: url("ButtonHilightFLF.ttf");
}

@font-face {
    font-family: 'buttonPlain';
    src: url("ButtonPlainFLF.ttf");
}

@font-face {
    font-family: 'bodenBold';
    src: url("BodoniFLF-Bold.ttf");
}

@font-face {
    font-family: 'yangJin';
    src: url("yangJin.ttf");
}