@iskra:registry=https://iskra-079445910763.d.codeartifact.ap-southeast-1.amazonaws.com/npm/iskra-sdk/
//iskra-079445910763.d.codeartifact.ap-southeast-1.amazonaws.com/npm/iskra-sdk/:always-auth=true
//iskra-079445910763.d.codeartifact.ap-southeast-1.amazonaws.com/npm/iskra-sdk/:_authToken=${CODEARTIFACT_AUTH_TOKEN}